body {
    font-family: 'Press Start 2P', monospace; /* Police rétro pour l'ambiance jeu */
    background-color: #000000; /* Fond noir comme les premiers écrans d'arcade */
    color: #FFFFFF; /* Texte blanc pour la lisibilité */
    text-align: center;
    padding-top: 50px;
}
h2 {
    font-family: 'Pixel Operator', sans-serif; /* Police rétro pour les titres */
    font-size: 32px;
    color: #00FF00; /* Vert fluo pour le titre */
}
.form-container {
    background-color: #333333; /* Fond gris foncé pour la section de formulaire */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5); /* Ombre verte fluo pour rappeler les jeux rétro */
    display: inline-block;
    margin-top: 20px;
}
input {
    margin: 10px;
    padding: 12px;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid #00FF00; /* Bordure verte fluo pour les champs */
    background-color: #222222; /* Fond sombre pour les champs */
    color: #FFFFFF; /* Texte blanc dans les champs */
}
input::placeholder {
    color: #CCCCCC; /* Texte gris clair dans les champs */
}
button {
    background-color: #00FF00; /* Vert fluo pour les boutons */
    color: white;
    font-size: 18px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #00cc00; /* Vert plus sombre lors du survol */
}